{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load cache%}
 
{% block title %}
Новости
{% endblock title %}
 
{% block content %}
    <h1>Все новости ({{news|length}})</h1>
    <hr>
    {% if news %} 
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Описание
                </td>
                <td>Категория</td>
            </tr>
        {% for news_page in news %}
            <tr>
                <td>
                    <a href="{% url 'news_detail' news_page.id %}">{{news_page.title|Censor}}</a>
                    <a href="{% url 'news_edit' news_page.id%}">Редактировать</a>
                    <a href="{% url 'news_delete' news_page.id %}">Удалить</a>
                </td>
                <td>
                    {{ news_page.time|date:'d-M-Y H:i' }}
                </td>
                <td>
                    {{ news_page.text|truncatechars:50|Censor }}
                </td>
                <td> 
                    {% for ps in news_page.postCategory.all %}
                        <a href="{% url 'news_category' ps.id %}">{{ ps }}</a>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </table>

    {% else %}
        <h3>Новостей нет!</h3>
    {% endif %}

    <h3><a href="{% url 'news_add' %}">Добавить статью или новость</a></h3> <br>

    {% if is_not_author %}
    <button> <a href="{% url 'upgrade'%}"> Хочу стать автором!</a> </button> <br>
    {% endif %}

    {% cache 30 paginator %}
        {% if is_paginated %}
        <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
        {% endif %}
    
        <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}
    
        <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
        {% endif %}
    {% endcache %}
{% endblock content %}