{% extends 'flatpages/default.html' %} 
{% load custom_filters %}
 
{% block title %}
Новости детально
{% endblock title %}
 
{% block content %}
<h1>{{ news_page.title|Censor }}</h1>
<i>Дата публикации: {{news_page.time|date:'d M Y' }}</i>
<p>{{news_page.text|replace_letters}}</p>
<p><i>Автор: {{news_page.author}}<br>
Рейтинг: {{news_page.rating}} <br>
Категория: {% for ps in news_page.postCategory.all %}
<a href="{% url 'news_category' ps.id %}">{{ ps }}</a>
{% endfor %}</i></p>

{% endblock content %}