{% extends 'flatpages/default.html' %}
{% load custom_filters %}
 
{% block title %}
Новости
{% endblock title %}
 
{% block content %}
    <h1>Все новости ({{news|length}})</h1>
    <hr>
    {% if news %} 
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Описание
                </td>
            </tr>
        {% for news_page in news %}
            <tr>
                <td>
                    {{ news_page.title|Censor}}
                </td>
                <td>
                    {{ news_page.time|date:'d-M-Y H:i' }}
                </td>
                <td>
                    {{ news_page.text|truncatechars:50|Censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
{% endblock content %}